.buscador-laboratorios{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: center;
}


/*AQUI VA  LOS ESTILOS QUE AGREGUES (ALEXANDRA)*/
.input-buscador {
  width: 100%;
  max-width: 9000px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.input-buscador:focus {
  outline: none;
  border-color: #2ec4b6;      
  box-shadow: 0 0 0 3px rgba(46, 196, 182, 0.3);
}




.principal-contenedor-texto-titulo{
    text-align: center;
    margin-top: 150px;
    color: #1e3a8a;
}
.principal-contenedor-texto-secundario{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #1e3a8a;
}
.contenedor-tarjetas {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

/* TARJETA */
 .card {
  border: 2px solid #0b1f4b; /* azul oscuro */
  border-radius: 16px;
  background: white;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 15px 35px rgba(11, 31, 75, 0.3);
  transform: translateY(-3px);
  transition: 0.2s ease;
}



/* PARTE SUPERIOR */
.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  background: #16254c;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.ra {
  background: #2ee6c5;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

/* TEXTO */
.card h3 {
  margin: 10px 0 5px;
}

.card p {
  color: gray;
  margin-bottom: 15px;
}

/* BOTONES */
.card-btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.ok {
  background: #2ee6c5;
}

.del {
  background: #ff4b4b;
  color: white;
}
