.buscador-laboratorios{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: center;
}


/*AQUI VA  LOS ESTILOS QUE AGREGUES (ALEXANDRA)*/
.input-buscador {
  width: 100%;
  max-width: 9000px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.input-buscador:focus {
  outline: none;
  border-color: #2ec4b6;        /* Verde agua marina */
  box-shadow: 0 0 0 3px rgba(46, 196, 182, 0.3);
}




.principal-contenedor-texto-titulo{
    text-align: center;
    margin-top: 150px;
    color: #1e3a8a;
}
.principal-contenedor-texto-secundario{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #1e3a8a;
}
.contenedor-tarjetas{
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}
