.btn-add {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  transition: transform 0.3s;
}

.btn-add:hover {
  transform: rotate(90deg);
}

.btn-icon {
  width: 80px;
  height: 50px;
  fill: none;
  stroke: #14b8a6; 
  transition: all 0.3s;
}

.btn-add:hover .btn-icon {
  fill: #115e59; 
}

.btn-add:active .btn-icon {
  stroke: #99f6e4; 
  fill: #0d9488;   
  transition-duration: 0s;
}

.circle,
.line {
  stroke-width: 1.5;
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 0;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  padding: 10px 0;
  min-width: 110px;
  z-index: 1000;
}

.dropdown-menu button {
  width: 100%;
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
  font-size: 19px;
}

.dropdown-menu button:hover {
  background: #f1f5f9;
}

.acciones-menu {
  position: relative;
}
