.layout{
    background: #142050;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.imagen-logo{
  width: 300px;
  height: 240px;
  text-align: center;
  margin: 20px auto 40px;
  margin-bottom: 1px;
}
.logo{
    width: 300px;
}