*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.layout{
    background: #142050;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.imagen-logo{
  width: 300px;
  height: 240px;
  text-align: center;
  margin: 50px auto 40px;
  margin-bottom: 1px;
}
.logo{
    width: 300px;
}
.logo-frase{
    text-align: center;
    color: #d9d9d9;
    font-size: 17px;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 25px;
    text-shadow: 0.5px 0.5px 0.2px rgb(12, 12, 12);
}
.formulario-login{
    margin: 0px auto 40px;
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    border-radius: 15px;
}