*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #ffffff;
}

.layout{
    background: #142050;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.imagen-logo{
  width: 300px;
  height: 240px;
  text-align: center;
  margin: 20px auto 40px;
  margin-bottom: 1px;
}
.logo{
    width: 300px;
}

.card{
    margin: 0px auto 40px;
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    border-radius: 15px;
}