*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #ffffff;
}

.layout{
    background: #142050;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.imagen-logo{
  width: 300px;
  height: 240px;
  text-align: center;
  margin: 20px auto 40px;
  margin-bottom: 1px;
}
.logo{
    width: 300px;
}

.card{
    margin: 0px auto 40px;
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    border-radius: 15px;
}


/* ===================== */
/* MODAL - para todos los modales
/* ===================== */

.modal-registro {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal-registro-contenido {
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.modal-registro-contenido h3 {
    color: #142050;
    margin-bottom: 10px;
}
.modal-registro-contenido p {
    color: #142050;
    font-size: 14px;
    margin-bottom: 20px;
}
.modal-registro-contenido button{
    background: #142050;
    color: #d9d9d9;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}
.boton-volver-login{
    text-decoration: none;
    background: #142050;
    color: #d9d9d9;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}