.logo-frase{
    text-align: center;
    color: #d9d9d9;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 25px;
    text-shadow: 0.5px 0.5px 0.2px rgb(12, 12, 12);
}
.formulario-login{
    margin: 0px auto 40px;
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    border-radius: 15px;
}
label{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #142050;
    font-weight: bold;
}
input{
    width: 270px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 3px;
}
.olvidaste-contrasena{
    display: inline-block;
    color: #423f3f;
    text-decoration: none;
    font-size: 15px;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
    padding: 1px;
}
.boton-iniciar-sesion{
    background: #142050;
    color: #d9d9d9;
    font-size: 15px;
    padding: 5px;
    width: 280px;
    border-radius: 20px;
}
.boton-registrarse{
    display: block;
    background: #1e3a8a;
    color: #d9d9d9;
    font-size: 15px;
    padding: 5px;
    width: 270px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    transition: all 300ms;
    box-shadow: 1px 1px 0.5px black;
}
.boton-registrarse:hover{
    transition: all 300ms;
    box-shadow: -1px -1px 0.5px black;
}