.logo-frase-recuperar{
    text-align: center;
    color: #d9d9d9;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 10px;
    text-shadow: 0.5px 0.5px 0.2px rgb(12, 12, 12);
    letter-spacing: 2px;
}
.formulario-olvidaste{
    margin: 0px auto 40px;
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    border-radius: 15px;
}
.olvidaste-mensaje{
    text-align: justify;
    margin-right: 20px;
    color: #142050;
    font-weight: bold;
}
label{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #142050;
    font-weight: bold;
}
input{
    width: 270px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 3px;
}
.boton-envio-enlace{
    background: #142050;
    color: #d9d9d9;
    font-size: 15px;
    padding: 5px;
    width: 280px;
    border-radius: 20px;
    margin-top: 5px;
}
.boton-volver-iniciar-sesion{
    display: inline-block;
    color: #142050;
    text-decoration: none;
    font-size: 15px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
    padding: 1px;
}
