.formulario-login{
    margin: 0px auto 40px;
    background: linear-gradient(#6dd8a2,#39add7);
    width: 320px;
    border-radius: 15px;
}
label{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #142050;
    font-weight: bold;
}
input{
    width: 270px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 3px;
}
.boton-nueva-contrasena{
    background: #142050;
    color: #d9d9d9;
    font-size: 15px;
    padding: 5px;
    width: 270px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
